<template name="home">



    <div class="container">


      <!-- Jumbotron -->

      <div class="jumbotron">
        <h1>Prospect leads...<a class="blue-underline" href="#">magically</a>.</h1>
        <p class="lead">Closing deals starts with sourcing and connecting with the right people. Do it quicker here.</p>

        <p class="lead">
          Search a company or a name to get started
        </p>

          <p>
           <form class="splash-navbar-form navbar-form">
            <div class="input-group col-lg-4 col-md-offset-4">
                <input type="search" class="form-control searchbar" placeholder="Search"/>
                <span class="input-group-btn">
                        <button name="search" value="search" type="submit" class="btn btn-lg btn-info">
                  <i class="fa fa-search"></i>
                      </button>
                </span> 
            </div>
             </form>
             </br>
               </p>

      </div>

    </br>

      <!-- Example row of columns -->
      <div class="row splashbox">
        <div class="col-md-4">
         <h2>Search</h2>
         <p><i class="fa fa-search fa-4x"></i></p>
        </div>
        <div class="col-md-4 ">
          <h2>Select</h2>
         <p><i class="fa fa-hand-o-up fa-4x"></i></p>
       </div>
        <div class="col-md-4">
          <h2>Prospect</h2>
          <p><i class="fa fa-list fa-4x"></i></p>
        </div>
      </div>

    
    </div> <!-- /container -->s
</template>