<template name="dashboard">

	<div class="container">
      <div class="row">
    
    <div class="sidebar-nav col-md-2 col-md-offset-1">
      <div class="panel panel-default advanced-search-panel">
  
    <div id="sidebar" class="list-group"> <a href="#" class="list-group-item active"><i class="fa fa-filter"></i>  Advanced Search</a>
      <a href="#size" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="fa fa-group"></i>  Size</a>
         <div id="size" class="list-group subitem collapse"> <a href="#" class="list-group-item bg_warning">Small<span class="badge bg_danger">0</span></a>
        <a href="#" class="list-group-item">Mid</a>
        <a href="#" class="list-group-item">Large</a>
        </div>
        
    <a href="#jobfunction" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="fa fa-briefcase"></i>  Function</a>

        <div id="jobfunction" class="list-group subitem collapse in"> 
          <a href="#" class="list-group-item">Sales<span class="badge bg_danger">0</span></a>
          <a href="#" class="list-group-item">Marketing</a>
          <a href="#" class="list-group-item">IT</a>
          <a href="#" class="list-group-item">Creative</a>
        </div>  

    <a href="#seniority" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="fa fa-file-text"></i>  Seniority</a>

        <div id="seniority" class="list-group subitem collapse"> <a href="#" class="list-group-item bg_warning">CXO<span class="badge bg_danger">0</span></a>
        <a href="#" class="list-group-item"></i>VP</a>
        <a href="#" class="list-group-item">Director</a>
        <a href="#" class="list-group-item">Manager</a>
        </div>

    </div>
</div>
</div>

<div class="col-lg-6 pull-left ppl-results well container col-lg-offset-1">
              <div class="ppl-item thumbnail">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/200x220" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <a href=#""><h3>Rafael Molina-Perez</h3></a>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="icon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="icon-envelope"></i> email@example.com
                            <br />
                            <i class="icon-globe"></i><a href="http://www.jquery2dotnet.com"> www.jquery2dotnet.com</a>
                            <br />
                            <i class="icon-gift"></i> June 02, 1988</p>
                        <!-- Split button -->
                                <div class="btn-group pull-right ppl-item-btn">
                  <button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                      <i class="icon-plus"></i>  <span class="caret"></span>
                      </button>
                     <ul class="dropdown-menu" role="menu">
                                <li><a href="#">List 1</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">List 2</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">List 3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">New List</a></li>
                            </ul>
                 </div>
                    </div>
                </div>
            </div>

                <div class="ppl-item thumbnail">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/200x220" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <a href=#""><h3>Rafael Molina-Perez</h3></a>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="icon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="icon-envelope"></i> email@example.com
                            <br />
                            <i class="icon-globe"></i><a href="http://www.jquery2dotnet.com"> www.jquery2dotnet.com</a>
                            <br />
                            <i class="icon-gift"></i> June 02, 1988</p>
                        <!-- Split button -->
                                <div class="btn-group pull-right ppl-item-btn">
                  <button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                      <i class="icon-plus"></i>  <span class="caret"></span>
                      </button>
                     <ul class="dropdown-menu" role="menu">
                                <li><a href="#">List 1</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">List 2</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">List 3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">New List</a></li>
                            </ul>
               </div>
               </div>
              </div>
            </div>

                        <div class="ppl-item thumbnail">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/200x220" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <a href=#""><h3>Rafael Molina-Perez</h3></a>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="icon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="icon-envelope"></i> email@example.com
                            <br />
                            <i class="icon-globe"></i><a href="http://www.jquery2dotnet.com"> www.jquery2dotnet.com</a>
                            <br />
                            <i class="icon-gift"></i> June 02, 1988</p>
                        <!-- Split button -->
                                <div class="btn-group pull-right ppl-item-btn">
                  <button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                      <i class="icon-plus"></i>  <span class="caret"></span>
                      </button>
                     <ul class="dropdown-menu" role="menu">
                                <li><a href="#">List 1</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">List 2</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">List 3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">New List</a></li>
                            </ul>
                 </div>
                 </div>
                </div>
            </div>

                        <div class="ppl-item thumbnail">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/200x220" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <a href=#""><h3>Rafael Molina-Perez</h3></a>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="icon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="icon-envelope"></i> email@example.com
                            <br />
                            <i class="icon-globe"></i><a href="http://www.jquery2dotnet.com"> www.jquery2dotnet.com</a>
                            <br />
                            <i class="icon-gift"></i> June 02, 1988</p>
                        <!-- Split button -->
                                <div class="btn-group pull-right ppl-item-btn">
                  <button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                      <i class="icon-plus"></i>  <span class="caret"></span>
                      </button>
                     <ul class="dropdown-menu" role="menu">
                                <li><a href="#">List 1</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">List 2</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">List 3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">New List</a></li>
                            </ul>
                 </div>
                    </div>
                </div>
            </div>
        


  </div><!-- /results-->
  </div> <!-- /row -->
</div>  <!-- /container -->
</template>